.navbar {
    margin-bottom: 20px;
}

.form-sigin .form-control {
    margin: 0px;
    padding: 20px;
}

.form-sigin input, .form-sigin .btn {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-create_account .form-control {
    margin: 10px;
}

.form-create_account input, .form-create_account .btn {
    border-radius: 0;
}

.invalid-feedback {
    display: block;
}
