html, body {
    height: 100%;
}

.navbar {
    margin-bottom: 20px;
}

.form-sigin .form-control {
    margin: 0px;
    padding: 20px;
}

.form-sigin input, .form-sigin .btn {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-create_account .form-control {
    margin-bottom: 10px;
}

.form-create_account input, .form-create_account .btn {
    border-radius: 0;
}

.invalid-feedback {
    display: block;
}

.cover-container {
    max-width: 700px;
    height: calc(100% - 76px);
}
